<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script>
    $(function () {
        if ('<%- pageUrl %>' == 'details') {
            $('footer').addClass('details-footer');
        }
    })
</script>
<footer>
    <div class="container-fluid padding-footer">
        <div class="row text-center padding-footer">
            <div class="container-fluid padding-connect">
            </div>
            <div class="col-md-4">
                <a class="navbar-brand" href="/">
                    <img id="logo-small" src="logo-bottom.webp" />
                </a>
                <hr class="light">
                <p>Email@email.com</p>
            </div>
            <div class="col-md-4 padding-top">
                <h5>Our Hours</h5>
                <hr class="light">
                <p>Monday: 9am-5pm</p>
            </div>
            <div class="col-md-4 padding-top">
                <h5>Service Area</h5>
                <hr class="light">
                <p>City,State,0000</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h6>WEATHERY by Team Qgodka</h6>
            </div>
        </div>
    </div>
</footer>