    <script>
        $(".modal-link").on("click", (e) => openModalLink(e));
    </script>
    <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-title text-center">
            <h4>Forgotten Password</h4>
        </div>
        <p id='forgot-password-errors'class="paragrapherror"></p>
        <p id='forgot-password-alert' class="paragraphalert"></p>
        <form id='forgot-password-form' action="javascript:void(0);" onsubmit="forgotPassword()" class="d-flex flex-column text-center">
            <p id='login-errors' class="paragrapherror"></p>
            <div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email1" name="email" placeholder="Email address"
                        required>
                </div>
                <input type='submit' class="btn btn-info btn-block btn-round" value='Send' />
            </div>
        </form>
    </div>
    <div class="modal-footer d-flex justify-content-center">
        <div class="signup-section">Not a member yet? <a href="/account/register" method='GET' class="text-info modal-link"> Sign Up</a>.</div>
    </div>