.fas {
  font-family: fontawesome !important; }

#logo-small {
  width: 200px;
  height: 140px;
  margin-top: -1.2rem;
  margin-bottom: -2rem;
  margin-left: 1rem;
  vertical-align: sub !important; }

#logo-medium {
  width: 260px;
  height: auto;
  margin-top: -2.5rem;
  margin-bottom: -1rem;
  vertical-align: sub !important; }

#logo-navbar {
  width: 130px;
  height: 60px;
  margin-top: -1rem;
  margin-left: -0.5rem;
  vertical-align: sub !important; }

#logo-weather {
  width: 128px;
  height: 128px; }

.container {
  padding: 2rem 0rem; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 400px; }
    .modal-dialog .modal-content {
      padding: 1rem; } }

.btn-round {
  border-radius: 3rem; }

.delimiter {
  padding: 1rem; }

.social-buttons .btn {
  margin: 0 0.5rem 1rem; }

.signup-section {
  padding: 0.3rem 0rem; }

/* Checkmark style starts */
@-moz-keyframes dothabottomcheck {
  0% {
    height: 0; }
  100% {
    height: 10px; } }

@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0; }
  100% {
    height: 10px; } }

@keyframes dothabottomcheck {
  0% {
    height: 0; }
  100% {
    height: 10px; } }

@keyframes dothatopcheck {
  0% {
    height: 0; }
  50% {
    height: 0; }
  100% {
    height: 24px; } }

@-webkit-keyframes dothatopcheck {
  0% {
    height: 0; }
  50% {
    height: 0; }
  100% {
    height: 24px; } }

@-moz-keyframes dothatopcheck {
  0% {
    height: 0; }
  50% {
    height: 0; }
  100% {
    height: 24px; } }

input[type=checkbox] {
  display: none; }

input[type=checkbox]:checked + .check-box,
.check-box.checked {
  border-color: #34b93d; }
  input[type=checkbox]:checked + .check-box::after,
  .check-box.checked::after {
    height: 10px;
    -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
    animation: dothabottomcheck 0.2s ease 0s forwards; }
  input[type=checkbox]:checked + .check-box::before,
  .check-box.checked::before {
    height: 24px;
    -moz-animation: dothatopcheck 0.4s ease 0s forwards;
    -o-animation: dothatopcheck 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
    animation: dothatopcheck 0.4s ease 0s forwards; }

.check-box {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer; }
  .check-box::before, .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: 4px;
    background-color: #34b93d;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: ' ';
    -webkit-transition: opacity ease .5;
    -moz-transition: opacity ease .5;
    transition: opacity ease .5; }
  .check-box::before {
    top: 14.4px;
    left: 8.2px;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  .check-box::after {
    top: 7.4px;
    left: 1px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.modal-body {
  padding: 0 1rem 1rem 1rem !important; }

.modal-footer {
  padding-bottom: 0; }

.card .colpsible-panel:after {
  content: "-";
  float: right;
  color: #408080; }

.card .colpsible-panel.collapsed:after {
  content: "+"; }

.error {
  color: red; }
