// LG: Fill in the proper colors from the color scheme.
// HP: Added colors that we can use globally.
$shadow-color: #2c2c2c;
$transparent-color: #ffffff00;
$background-transparent-color: #07070765;
$background-transparent-color-darker: #07070794;
$dark-primary-color: #030280;
$dark-color-transparent: #0e0e0f4f;
$primary-color-transparent: #23a3f365;
$primary-color: #23a2f3;
$accent-color: #6ab8ff;
$highlight-color: #90e2fd;
$white-color: #fff;
$footer-highlight-color:#23a2f3;
$background-color: #0e0c24;
$background-bottom-color: #0f131e;
$box-shadow: rgba(0, 0, 0, .5);